.header {
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.03em;
}

.header--title {
    font-size: 1.3em;
    font-family: 'Karla', sans-serif;
}

.div-logo {
    display: flex;
    align-items: center;
    gap: 6.69px;
}

.div-logo img {
    display: flex;
    align-items: center;
}

.header--description {
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (max-width: 420px) {
    
    .header--title {
        font-size: 1.1em;
    }

    .header--description {
        font-size: 12px;
    }

}