form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form--input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 36px;
}

input {
    border: 1px solid #D5D4D8;
    height: 35px;
    width: 230px;
    border-radius: 5px;
}

button {
    font-family: 'Karla', sans-serif;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    width: 477px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    color: white;
    margin: 15px auto 36px auto;
    cursor: pointer;    
}

.main-image {
    width: 477px;
    border-radius: 2px;
}